<div class="col-lg-3 col-md-6 dark_widget">
  <div class="f_widget dark_widget about-widget wow fadeInUp"
    data-wow-delay="0.4s">
    <h3 class="f-title f_600 t_color f_size_18 mb_40">
      {{ 'Important Links'|t }}
    </h3>
    {{ drupal_menu('footer') }}
  </div>
</div>
