<div class="col-lg-3 col-md-6 dark_widget">
  <h3 class="f-title f_600 t_color f_size_18 mb_40">{{ 'Sponsored by'|t }}</h3>
	<div class="f_widget dark_widget company_widget wow fadeInUp" data-wow-delay="0.2s">
		<a href="https://parmg.sa" title="{{ 'Saudi Programmers Association Parmg'|t }}" class="f-logo">
      <img class="img-sm" src="/{{ active_theme_path() }}/img/parmaj.png" alt="logo">
    </a>
	</div>
</div>
