<div class="col-lg-3 col-md-6 dark_widget">
  <h3 class="f-title f_600 t_color f_size_18 mb_40">{{ 'Stay in touch'|t }}</h3>
	<div class="f_widget dark_widget company_widget wow fadeInUp" data-wow-delay="0.2s">
		<div class="f_social_icon_two">
			<a href="#" class="ti-facebook"></a>
			<a href="#" class="ti-twitter-alt"></a>
			<a href="#" class="ti-vimeo-alt"></a>
			<a href="#" class="ti-pinterest"></a>
		</div>
	</div>
</div>
