{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
    <ol class="breadcrumb f_300 w_color f_size_16 l_height26">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li class="breadcrumb-item">
          <a class="w_color" href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% else %}
        <li class="breadcrumb-item active w_color">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
{% endif %}
