@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

*,
.f_p,
.btn_get ,
.f_widget.about-widget .f_list li a{
  font-family: "IBM Plex Sans Arabic", sans-serif;
}


/* Menu */
.menu>.nav-item:nth-child(1) {
  margin-left: 45px;
}
.menu>.nav-item.submenu .dropdown-menu {
  text-align: right;
}
.menu > .nav-item > .nav-link ,
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link{
  font: 600 16px "IBM Plex Sans Arabic", sans-serif;
}
.footer_bottom .f_menu {
  text-align: left !important;
}
.footer_bottom .f_menu li + li {
  margin-right: 16px;
}
.footer_bottom .f_menu li + li:before{
  margin-left: 18px;
  margin-right: 0px;
}
.error_contain h2 {
  letter-spacing: 0;
  margin-bottom: 25px;
  font-weight: 700;
}
.login_info {
  text-align: right;
}
.offset-md-3{
  margin-left: 0;
  margin-right: 25%;
}
