@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

*,
.f_p,
.btn_get ,
.f_widget.about-widget .f_list li a{
  font-family: "IBM Plex Sans Arabic", sans-serif;
}


/* Menu */
.menu>.nav-item:nth-child(1) {
  margin-left: 45px;
}
.menu>.nav-item.submenu .dropdown-menu {
  text-align: right;
}
.menu > .nav-item > .nav-link ,
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link{
  font: 600 16px "IBM Plex Sans Arabic", sans-serif;
}
