<div class="row">
	<div class="col-md-6 offset-md-3 mt-5">
		<div class="login_info">
			{{form}}
				<div class="alter-login text-center mt_30">
					<p>
						{{'New user?'|t}}
						<a class="login-link" href="#">
							{{'Signup'|t}}
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>